<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <style>
        .container {
            max-width: 600px;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 25px;
            background: aliceblue;
            border-radius: 8px;
        }
        .footer {
            margin-top: 30px;
            font-size: 13px;
            color: #555;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Password Changed</h2>
        <h2>Hello, <span th:text="${name}">User</span>!</h2>
        <p>Your Password Successfully Change, if it's not you please reset your password.</p>
        <a th:href="${resetLink}" class="button"> Reset Password</a>
        <div class="footer">@MINIFIN | Your Trusted Partner.</div>
    </div>
</body>
</html>